.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, $black, $green, $green);
  h2 {
    font-family: 'Kalam', cursive;
  }
  p {
    margin-bottom: 5rem;
  }
}
