.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, $dark-navy, $navy, $purple);
  h2 {
    font-family: 'Advent Pro', sans-serif;
  }
  p {
    margin-bottom: 5rem;
  }
}
