.about-section {
  padding: 10rem 0 10rem 0;
  background: linear-gradient(to bottom, $dark-navy, $navy, $black);
  h2 {
    font-family: 'Advent Pro', sans-serif;
  }
  p {
    margin-bottom: 2rem;
  }
}
