.gigs-section {
  padding: 3rem 0 4rem 0;
  background: linear-gradient(to bottom, #{fade-out($primary, .2)} 0%, #{fade-out($medium-blue, .3)} 75%, $black 100%,), url('../img/wall.jpg');
  h2 {
    font-family: 'Advent Pro', sans-serif;
    padding: 1rem;
    color: $white-blue;
  }
  h3 {
    color: $medium-blue;
    padding: 1rem 0;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.4em;
    text-align: center;
    overflow-wrap: break-word;
  }
  h4 {
    color: $mauve;
    text-align: center;
  }
  iframe {
    display: block;
    padding: 2rem;
  }
  .gig-list {
    padding: 2rem;
    align: center;
  }
  .gig-date {
    font-family: 'Advent Pro', sans-serif;
    color: $white;
    font-size: 1.3rem;
    background: $navy;
    padding: 1rem 0;
  }
  .gig-event {
    background: rgba($white-smoke, 0.7);
    border: solid;
    border-width: thin;
    border-color: $black;
  }
}
