.gigs-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: $tan;
  background: linear-gradient(to bottom, $green, $tan, $mauve);
  h2 {
    font-family: 'Advent Pro', sans-serif;
    color: $purple;
  }
  h3 {
    color: $green;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
  }
  h4 {
    color: $mauve;
    text-align: center;
  }
  iframe {
    display: block;
    padding: 2rem;
  }
  .upcoming-gigs {
    padding: 2rem;
    align: center;
  }
  .gig-date {
    font-family: 'Advent Pro', sans-serif;
    color: $white;
    font-size: 1.3rem;
    background: $green;
    padding: 1rem;
  }
  .gig-event {
    background: $gray-300;
    border: solid;
    border-color: $purple;
  }
}
