.projects-section {
  background: linear-gradient(to bottom, $navy, $dark-blue, $midnight-blue);
  // background: linear-gradient(to bottom, #{fade-out($navy, .2)} 0%, #{fade-out($medium-blue, .3)} 75%, $dark-navy 100%,), url('../img/wall.jpg');
  // background: linear-gradient(to bottom, #{fade-out($primary, .2)} 0%, #{fade-out($medium-blue, .3)} 75%, $navy 100%,), url('../img/wall.jpg');
  background: linear-gradient(to bottom, #{fade-out($navy, .4)} 0%,#{fade-out($dark-blue, .5)} 75%,$midnight-blue 100%), url('../img/floor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
  h2 {
    color: $white;
    font-family: 'Advent Pro', sans-serif;
    border-bottom: 0.5rem solid $primary;
    border-width: .25rem;
    width: 10rem; 
  }

  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 10rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}
