// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
// $black: #161616 !default;
// $green: #89937C !default;
// $purple: #69385C !default;

$mauve: #715B64 !default;
$tan: #C1AE9F !default;
$orange: #B45E53 !default;

// $primary: #64a19d !default;
// #medium violet red
$primary: #AF147B !default; 
$maroon: #34042B !default;
$purple: #7C0967 !default;
//620647

$blue-indego: #384e7a !default;
$indego: #003663 !default;
$violet: #0000ab !default;
$blue: #0072bc !default;
$black: #000000 !default;
$white-blue: #CBCCD4 !default;
$white-smoke: #F6F3F6 !default;
$dark-blue: #0F0887 !default;
$navy: #0B0763 !default;
$dark-navy: #040437 !default;
$medium-blue: #2316CC !default;
$midnight-blue: #08041E !default;
